@model AzureStorage.AzureStore

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AzureStore</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>

@ViewBag.T1
@ViewBag.D1

@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
