@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>PHR stands for Personal Health Record.</p>
<p>You can make a profile which contains all your health record</p>
