@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PHR</h1>
    <p class="lead">Personal Health Record is a simple profile for your record health.</p>
    <p><a href="http://phr.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You can add your Body tempretaure, Blood pressure, Suger level, Chest X-Rays, Prescription .. etc.
        </p>
        <p><a class="btn btn-default" href="http://fb.com/SondosSamii">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add your family</h2>
        <p>You can add your family members to your profile.</p>
        <p><a class="btn btn-default" href="http://Twitter.com/SondosSamii">Add more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add your Contact Information</h2>
        <p>You can add contact information for emergency call and it won't be public, Don't worry :).</p>
        <p><a class="btn btn-default" href="http://goodreads.com/SondosSamii">Add Contact Information&raquo;</a></p>
    </div>
</div>