@{
    ViewBag.Title = "Download";
}

<div class="row text-center" style="margin-top: 50px;">
    <div class="col-md-3">
        <p><i class="fa fa-android" style="font-size: 15em; color: #32cd32; text-shadow: 1px 1px 1px #ccc;" aria-hidden="true"></i></p>
        <p><a class="btn btn-default" href="https://medrecs.blob.core.windows.net/android/medrecs.apk"><span class="fa fa-download"></span> Android</a></p>
    </div>
    <div class="col-md-3">
        <p><i class="fa fa-android" style="font-size: 15em; color: #8b0000; text-shadow: 1px 1px 1px #ccc;" aria-hidden="true"></i></p>
        <p><a class="btn btn-default" href="https://medrecs.blob.core.windows.net/android/medrecs.developer.apk"><span class="fa fa-download"></span> Developer Edition</a></p>
    </div>
    <div class="col-md-3">
        <p><i class="fa fa-apple" style="font-size: 15em; color: #cccccc; text-shadow: 1px 1px 1px #333;" aria-hidden="true"></i></p>
        <p><a class="btn btn-default disabled" href="#"><span class="fa fa-download"></span> iPhone</a></p>
        <p><b><i>Soon</i></b></p>
    </div>
    <div class="col-md-3">
        <p><i class="fa fa-windows" style="font-size: 15em; color: #00ced1; text-shadow: 1px 1px 1px #ccc;" aria-hidden="true"></i></p>
        <p><a class="btn btn-default disabled" href="#"><span class="fa fa-download"></span> Windows Phone</a></p>
        <p><b><i>Soon</i></b></p>
    </div>
</div>

