@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="text-center center-block">
        <img src="~/Images/Logo/120.png" class="img-circle" />
        @*<h2>medrecs</h2>*@
        <p class="lead">
            Your medical record anytime, anywhere, and from any device securely & for free.
        </p>
        <p>
            @Html.ActionLink("Register new account", "Register", "Account", null, new { @class = "btn btn-default btn-lg" })
            @Html.ActionLink("Log in", "Login", "Account", null, new { @class = "btn btn-primary btn-lg" })
        </p>
    </div>
</div>