
@{
    ViewBag.Title = "Why medrecs.me";
}

<div class="row text-center">
    <h1>Why medrecs.me</h1>
</div>

<div class="row">
    <div class="col-sm-4">
        <h3>Free</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet. Curabitur adipiscing luctus massa.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>

    <div class="col-sm-4">
        <h3>Secure</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet. Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo commodo. Nunc nec mi eu justo tempor consectetuer.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>

    <div class="col-sm-4">
        <h3>Global Access</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-4">
        <h3>Suppots IoT</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>

    <div class="col-sm-4">
        <h3>Online viewers</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>

    <div class="col-sm-4">
        <h3>Cloud based</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>